.search-box{
    -fx-background-color:#70E5D9;
    -fx-background-radius: 100;
}


.box8{
    -fx-background-color: rgb(222, 217, 217);
    -fx-background-radius: 20;
    -fx-border-radius: 10px;
}

.labelDesign{
    -fx-background-color: #1e81b0;
    -fx-background-radius: 10;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.button-1:pressed {
    -fx-background-color: #981100;
}

.button-2{
    -fx-background-color: #05595B;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-2:pressed {
    -fx-background-color: #981100;
}

.button-3{
    -fx-background-color: #461111;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-3:pressed {
    -fx-background-color: #981100;
}

.button-4{
    -fx-background-color: #F8B400;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-4:pressed {
    -fx-background-color: #981100;
}

.button-5{
    -fx-background-color: #041562;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-5:pressed {
    -fx-background-color: #981100;
}
.button-6{
    -fx-background-color: #FF5959;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-6:pressed {
    -fx-background-color: #981100;
}

.button-7{
    -fx-background-color: #6D9886;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.button-8{
    -fx-background-color: #4781ff;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.button-7:pressed {
    -fx-background-color: #981100;
}

.input{
    -fx-background-radius: 30;
}

.input_outer{

    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.comboBox{
    -fx-background-color: #40E0D0;
    -fx-background-radius: 30;
}
.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.table-view .column-header {
    -fx-background-color: #E9EFC0;
}


/* All Project Tooling Pages  */
.deptartment_lbl{
    -fx-background-color: #9f9a9a;  /* 827272 - 6D9886 -807676 */
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

.emp_id_lbl{
    -fx-background-color: #b8978a;
    -fx-background-radius: 10;
}
/* Main Page */
.control_btn{
    -fx-background-color: #807676;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    /*-fx-font-size: 24,bold;*/
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
/* Login Page */
.Dept_Name_LoginForm{
    -fx-background-radius: 10;
}
.box-samll1{
    -fx-background-color: #dad5d1;
    -fx-background-radius: 40;


}

/* Control Page */

.users_btn{
    -fx-background-color: #6D9886;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.search_controlPage{
    -fx-background-radius: 20;
}
.load_btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.print_btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.box_welcome{
    -fx-background-color: #9f9a9a;
    -fx-background-radius: 15;
    -fx-text-fill: white;
}
/* Add-Update Page */
.addUser_btn {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.save_users_btn{
    -fx-background-color: #038296;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}
